.notes-list {
  background-color: white;
  border: 1px solid #e4e8ef;
  padding: 0;
  list-style-type: none;
}

.display-date {
  display: flex;
  align-items: center;
  color: #8492af;
  font-weight: normal !important;
  font-size: 12px;
}

.time-delayed {
  color: #f83c7b;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header-text {
  font-weight: bold;
  margin-left: 20px;
}

.notes-badges {
  margin-right: 25px;
}

.note-content-wrapper {
  max-height: 26.4vh;
  overflow-y: auto;
}

.note-content-box {
  display: flex;
  flex-direction: column;
}

hr {
  border: 1px solid #e4e8ef;
  margin: 0;
  /* So keep them as they are - you can change the values of course */
}

.note-text-content-box {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 10px;
}

.inline-text {
  display: inline;
}

.text-center {
  margin: 0 auto;
  margin-left: 10px;
}

.p-center {
  margin: 0 auto;
  font-weight: normal !important;
}

.message {
  margin-left: 10px;
}
.text-content {
  font-size: 12px;
  color: black;
  margin: 0;
}

.text-after-avatar {
  margin: 0;
  padding: 0;
}

.title-list-item-text {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  margin-left: 10px;
}

.task-content {
  font-size: 14px;
  margin-left: 10px;
}

.message-content {
  font-size: 14px;
  margin-left: 10px;
}

.unread {
  background-color: #f4f5f8;
}

.actions-btn {
  margin-top: 4px;
}

.MuiSvgIcon-root.context-menu {
  width: 29px;
  cursor: pointer;
  color: #8492af;
  margin-right: 20px;
  margin-top: 10px;
}

.MuiSvgIcon-root.time-icon {
  width: 15px;
  margin-right: 4px;
}

.MuiSvgIcon-root.action-btn {
  height: 21px;
  width: 25px;
  align-self: center;
  margin-left: auto;
  cursor: pointer;
  color: #8492af;
}
